body{
    background-color: #0b1940;
    text-align: center;
}

table{
    margin: 30px auto;
}
#heading{
    font-family: 'Press Start 2P', cursive;
    color: oldlace; 
    margin: 4rem auto;
    font-size: 3rem;
}

.block{
    height: 200px;
    width: 200px;
    margin: 1.5rem;
    border: solid .8rem;
    border-radius: 20%;
}

.green{
    background-color: green;
}

.red{
    background-color: red;
}

.yellow{
    background-color: yellow;
}

.blue{
    background-color: blue;
}

.click{
    opacity: .3;
}

.highlight{
    background-color: gray;
    box-shadow: 0 3px 10px #fff;
}